@using BlazorDeck.Components.Config
@using BlazorDeck.Components.Config.ButtonTypes
@using BlazorDeck.Components.Config.States
@using BlazorDeck.Components.ExtentionMethods
@using BlazorDeck.Config.States
@using MudBlazor.Interop
@using StreamerbotClient
@using Color = System.Drawing.Color
@implements IAsyncDisposable
@inherits DeckButtonBase
@inject IJSRuntime JS;
@inject Streamerbot StreamerbotClient
@inject ClientInputInterop Input;

<script>


    getBoundingClientRectInterop = (element) => {
        return element.getBoundingClientRect();
    };
</script>

<div @onpointerdown="@OnPointerDown" class=@($"slider {Class}")
     style="@Style; overflow: hidden; background-color: @DeckButtonConfig.BackgroundColor" @ref="_root">
    <div style="display: grid; width: 100%;height: 100%">
        <div
            style="display: flex; z-index: 1;color: @DeckButtonConfig.TextColor; grid-column: 1/1; grid-row: 1/1; justify-content: @DeckButtonConfig.TextAlign; align-items: @DeckButtonConfig.TextAlign">
            <div>@DeckButtonConfig.Text</div>
        </div>
        <div style="grid-column: 1/1; grid-row: 1/1">
            @if (Vertical)
            {
                <div class="bar"
                     style="width: 100%;height: @Percent%; background-color: @DeckButtonConfig.ForegroundColor; top: @(100 - Percent)%; "></div>
            }
            else
            {
                <div class="bar"
                     style="width: @(Percent)%;height: 100%; background-color: @DeckButtonConfig.ForegroundColor;  "></div>
            }
        </div>

    </div>

</div>

@code {

    [Parameter]
    public float Percent
    {
        get;
        set
        {
            field = value;
            ActivateButtonAction(new KeyValuePair<string, object>("percent", value));
        }
    }

    [Parameter] public bool Vertical { get; set; } = false;
    [Parameter] public string Class { get; set; }
    [Parameter] public string Style { get; set; }


    private ElementReference _root;
    private SliderConfig _sliderConfig;
    private SliderState _sliderState;
    BoundingClientRect _boundingClientRect;

   
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        _sliderState = (SliderState)ButtonState;

        if (DeckButtonConfig.Config is SliderConfig config)
        {
            _sliderConfig = config;
        }
        else
        {
            throw new Exception("Failed to convert press button config to its type");
        }

        Vertical = _sliderConfig.Vertical;


        CaculateGridPos();


        Percent = _sliderState.Percent;

        DeckButtonConfig.OnStateChanged += OnButtonStateChanged;
    }

    private void OnButtonStateChanged()
    {
        Percent = _sliderState.Percent;

        InvokeAsync(StateHasChanged);
    }

    double _currentPointerId = -1;

    private async Task OnPointerDown(PointerEventArgs args)
    {
        _currentPointerId = args.PointerId;
        _boundingClientRect = await JS.InvokeAsync<BoundingClientRect>("getBoundingClientRectInterop", _root);

        Percent = MathF.Abs(CalculatePercent(args)) * 100;
        _sliderState.Percent = Percent;

        DeckButtonConfig?.OnStateChanged.Invoke();

        Input.OnPointerMove += OnPointerMove;
        Input.OnPointerUp += OnPointerUp;
    }

    private void OnPointerMove(PointerEventArgs move)
    {
        if (move.PointerId != _currentPointerId)
        {
            return;
        }

        Percent = MathF.Abs(CalculatePercent(move)) * 100;
        _sliderState.Percent = Percent;
        DeckButtonConfig?.OnStateChanged.Invoke();
    }

    private float CalculatePercent(PointerEventArgs pointerEvent)
    {
        if (Vertical)
        {
            var mouseY = double.Clamp(pointerEvent.ClientY, _boundingClientRect.Top, _boundingClientRect.Bottom);
            var offset = mouseY - _boundingClientRect.Bottom;
            return (float)(offset / (_boundingClientRect.Bottom - _boundingClientRect.Top));
        }
        else
        {
            var mouseX = double.Clamp(pointerEvent.ClientX, _boundingClientRect.Left, _boundingClientRect.Right);
            var offset = Math.Abs(mouseX - _boundingClientRect.Left);
            return (float)(offset / (_boundingClientRect.Left - _boundingClientRect.Right));
        }
    }


    private void OnPointerUp(PointerEventArgs up)
    {
        if (up.PointerId != _currentPointerId)
        {
            return;
        }

        Input.OnPointerMove -= OnPointerMove;
        Input.OnPointerUp -= OnPointerUp;
    }

    public async ValueTask DisposeAsync()
    {
        DeckButtonConfig.OnStateChanged -= OnButtonStateChanged;
    }

    public override void ActivateButtonAction(params KeyValuePair<string, object>[] args)
    {
        StreamerbotClient.DoAction(DeckButtonConfig.StreamerBotActionId, args);
    }

}
