@using BlazorDeck.Components.Config.ButtonTypes
@using BlazorDeck.Config.States
@using StreamerbotClient
@inherits DeckButtonBase
@inject Streamerbot StreamerBot;
<MudSwipeArea Style="@GridStyle" Class="border-dashed border-2 mud-border-primary"
              OnSwipeMove="OnMove">
    <div style="width: 100%;height:100%;display: flex;
        color: @DeckButtonConfig.TextColor;
    justify-content: @DeckButtonConfig.TextAlign; align-items: @DeckButtonConfig.TextAlign">
        @DeckButtonConfig.Text
    </div>
</MudSwipeArea>

@code {

    [Parameter] public bool ShowIcon { get; set; } = true;

    private DragAreaState _dragAreaState;
    private DragAreaConfig _dragAreaConfig;

    private void OnMove(MultiDimensionSwipeEventArgs move)
    {
        ActivateButtonAction(new KeyValuePair<string, object>("delta", new { x = move.SwipeDeltas[0], y = move.SwipeDeltas[1] }));
    }

    public override void ActivateButtonAction(params KeyValuePair<string, object>[] args)
    {
        StreamerBot.DoAction(DeckButtonConfig.StreamerBotActionId, args);
    }

    protected override async Task OnInitializedAsync()
    {
        CaculateGridPos();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        _dragAreaState = (DragAreaState)ButtonState;

        if (DeckButtonConfig.Config is DragAreaConfig config)
        {
            _dragAreaConfig = config;
        }
        else
        {
            throw new Exception("Failed to convert drag area config to its type");
        }
    }

}