@page "/grid"
@using BlazorDeck.Components.Config
@using BlazorDeck.Components.Config.ButtonTypes
@using BlazorDeck.Components.Grid
@using BlazorDeck.Services
@using Microsoft.Extensions.Options
@using ButtonType = BlazorDeck.Components.Config.ButtonType
@layout GridLayout
@inject IJSRuntime JS;
@inject ConfigWatcher ConfigWatcher;
@inject ButtonStateService ButtonStateService;
@implements IAsyncDisposable
@rendermode @(new InteractiveServerRenderMode(false))

<script>
    function goFullscreen() {
        document.documentElement.requestFullscreen();
    }
</script>
<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(@CurrentPage.GridSizeX, 10vw);
        grid-template-rows:  repeat(@CurrentPage.GridSizeY, 10vw);
        grid-gap: 5px;
        padding: 10px;
    }

    .cell {
        background-color: gray;
        justify-content: center;
        align-content: center;
    }

</style>
<button onclick="goFullscreen()">F</button>

<div class="grid" style="overflow: hidden !important;
    touch-action: none !important;
    overscroll-behavior: none !important; height: 100%">
    @foreach (var button in CurrentPage.Buttons)
    {
        switch (button.ButtonType)
        {
            case ButtonType.Button:
                <DeckPressButton OnPageSelect="OnPageSelect" DeckButtonConfig="@button" PageConfig="@CurrentPage"/>
                break;
            case ButtonType.Slider:
                <DeckSlider DeckButtonConfig="@button" PageConfig="@CurrentPage"/>
                break;
            case ButtonType.DragArea:
                <DeckDragArea DeckButtonConfig="@button" PageConfig="@CurrentPage"/>
                break;
        }
    }
</div>


@code
{

    PageConfig CurrentPage;

    private Dictionary<Guid, PageConfig> pages = [];

    protected override void OnInitialized()
    {
        ConfigWatcher.OnConfigChanged += config =>
        {
            var page = config.BlazorDeckPages.First();
            pages.Clear();

            foreach (var deckPage in config.BlazorDeckPages)
            {
                pages.TryAdd(deckPage.Id, deckPage);
            }


            OnPageChanged(page);
        };
        foreach (var deckPage in ConfigWatcher.GetConfig().BlazorDeckPages)
        {
            pages.TryAdd(deckPage.Id, deckPage);
        }

        var first = ConfigWatcher.GetConfig().BlazorDeckPages.First();
        OnPageChanged(first);
    }

    private void OnPageChanged(PageConfig config)
    {
        if (CurrentPage is not null)
        {
            CurrentPage?.OnStateChanged -= PageStateChanged;
        }

        config.OnStateChanged += PageStateChanged;
        CurrentPage = config;
        CurrentPage.OnStateChanged?.Invoke();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private void PageStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        CurrentPage.OnStateChanged -= PageStateChanged;
    }

    private void OnPageSelect(Guid pageId)
    {
        var page = pages[pageId];
        if (page is null)
        {
            return;
        }
        
        OnPageChanged(page);
    }
}


